<template>
    <div>
        <div ref="loginOrCreate" v-if="logged === false">
            a
        </div>
        <div ref="steps" v-if="logged">{{ logged }}</div>
    </div>
</template>

<script>
    export default {
        computed: {
            async logged () {

            }
        },
        mounted () {

        }
    }
</script>

<style scoped>

</style>