<template>
    <form v-on:submit.prevent="submit">
        <div class="form-group">
            <label for="loginEmail">E-mail</label>
            <input type="email" class="form-control" id="loginEmail" v-model="login.email">
        </div>
        <div class="form-group">
            <label for="loginPassword">Senha</label>
            <input type="password" class="form-control" id="loginPassword" v-model="login.password">
        </div>
        <button class="btn btn-primary">Entrar</button>
        <a class="btn btn-link">
            Esqueceu sua senha?
        </a>
    </form>
</template>
<script>
    export default {
        props: ['redirect'],
        data () {
            return {
                login: {
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            submit () {
                axios.post('/login', this.login).then(response => {
                    window.location.href = this.redirect || response.data['intended'];
                }, response => {
                    this.$emit('error', response)
                })
            }
        }
    }
</script>