<template>
    <form v-on:submit.prevent="submit">
        <div class="form-group">
            <label for="name">Nome</label>
            <input id="name" class="form-control" v-model="register.name">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" class="form-control" v-model="register.email">
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input id="password" type="password" class="form-control" v-model="register.password">
        </div>
        <div class="form-group">
            <label for="password-confirm">Confirme a senha</label>
            <input id="password-confirm" type="password" class="form-control" v-model="register.password_confirmation">
        </div>
        <button type="submit" class="btn btn-primary">
            Fazer cadastro
        </button>
    </form>
</template>

<script>
    export default {
        data () {
            return {
                register: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }
            }
        },
        methods: {
            submit () {

            }
        }
    }
</script>