
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "~font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Sidebar
@import "../js/bootstrap/sidebar/style3.css";

// Slider Pro
@import "~slider-pro/dist/css/slider-pro";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
